*{
    box-sizing: border-box;
margin: 0;
}

.main{
    background-color: #FFFFFF;
    width: 1152px;
    height: 2041px;
margin: 0 auto;

top: -1084px;
left: -2228px;

}
ul{
    position: absolute;
}
ul li{
    display: inline-block;
    height: 43px;
    font-family: 'Heebo', sans-serif;
    line-height: 29.38px;
    text-align: right;
    position: absolute;
    top: 27px;
}
.liONE{
    width: 57px;
    left: 858px;
}
.liTWO{
    width: 106px;
    left: 882px;
}
.liTHREE{
    width: 71px;
    left: 1021px;
}
section{
    position: absolute;
}
h1{
    position: absolute;
    width: 506px;
height: 105px;
top: 228px;
left: 148px;
font-family: Heebo;
font-size: 44px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
;
}
p{
    position: absolute;
    width: 497px;
height: 66px;
top: 373px;
left: 148px;
color: #21243D;
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
.pic{
    position: absolute;
    display: inline-block;
    width: 243px;
height: 243px;
top: 210px;
left: 760px;
border-radius: 50%;

}
.b1{
   position: absolute;
font-family: Heebo;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
background-color: #FF6464;
border: none;
width: 208px;
height: 47px;
top: 477px;
left: 148px;
border-radius: 2px;


}
.sec1{
    position: absolute;
    width: 1152px;
height: 396px;
top: 595px;
background-color: #EDF7FA;


}
.header{
    position: absolute;
}
.header div{
    width: 129px;
    height: 60px;
    top: calc(602px - 595px);
    left: 148px;
    position: absolute;
    font-family: Heebo;
font-size: 22px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
    
}
.b2{
    border: none;
    background-color: transparent;
    width: 208px;
height: 20px;
top:calc(622px - 595px);
left: 796px;
position: absolute;
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: right;
color:#00A8CC;

}
.post1{
    position: absolute;
    width: 418px;
height: 295px;
background-color:#FFFFFF;
top: calc(664px - 595px);
left: 148px;
border-radius: 4px;

box-shadow: 0px 4px 10px 0px #BBE1FA40;

}
.post2{
    position: absolute;
    width: 418px;
height: 295px;
top: calc(664px - 595px);
left: 586px;
border-radius: 4px;
background-color:#FFFFFF;

}