*{
    box-sizing: border-box;
margin: 0;
}

body{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
height: 2041px;


}
.menu-icon{
    display: none;
    width: 100%;
    height: 50px;
}
.menu{
    cursor: pointer;
    position: absolute;
width: 30px;
height: 18px;
left:calc(100% * 327 / 375) ;
top: 20px;
}
.bar1, .bar2, .bar3 {

border: 1.6px solid #21243D;

position: absolute;
width: 30px;
height: 0px;
}
.bar1{
    top: 0px;
}
.bar2{
    top: 9px;
}
  .bar3{
    top: 18px;
}
nav{
    width: 100%;
    height: auto;
}
ul{
   list-style: none;
    display: flex;
    justify-content: end;
    align-items: end;
}
ul li{
    padding: 25.75px;
    height: 43px;
    font-family: 'Heebo', sans-serif;
    line-height: 29.38px;
    text-align: right;
   

}
.button{
    border: none;
    background-color: #FFFFFF;
    height: 43px;
    font-family: 'Heebo', sans-serif;
    line-height: 29.38px;
    text-align: right;
    cursor: pointer;
}
section{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(595px - 70px) ;
}
.intro{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
    justify-content: space-between;
    
}
h1{
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
    position: absolute;
    width: 407px;
top:228px;
left: calc(100% * 148 / 1152);
font-family: Heebo;
font-size: 44px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
flex-shrink: 6;
display: flex;
height: auto;
}
.p1{
    position: absolute;
    flex-shrink: 8;
display: flex;
    width: calc(100% * 483 / 1152);
top: 373px;
left: calc(100% * 148 / 1152);
color: #21243D;
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
height: auto;
}
.pic{
    flex-shrink: 1;
    display: flex;
    width: 243px;
    height: 243px;
top: 210px;
left:calc(100% * 760 / 1152) ;
border-radius: 50%;
position: absolute;
}
.b1{
    position: absolute;
font-family: Heebo;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
background-color: #FF6464;
border: none;
width: 208px;
height: auto;
top: 477px;
left: calc(100% * 148 / 1152);
border-radius: 2px;


}
.sec1{
    position: absolute;
    width: 100%;
height: 396px;
top: 595px;
background-color: #EDF7FA;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    top: 7px;

    width: 100%;
}
.header div{
    display: flex;
    height: 60px;
    top: calc(602px - 595px);
left: calc(100%  * (148 + (586 - 148 - 418 )) / 1152);
    font-family: Heebo;
    left: calc(100%  * (148 + (586 - 148 - 418 )) / 1152);
position: absolute;
font-size: 22px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
    
}
.b2{
    margin-right: calc(100% * (1152 - 895) / 1152);
    border: none;
    background-color: transparent;
   display: flex;
height: 20px;
top:calc(622px - 595px);
left: 82%;
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: right;
color:#00A8CC;
position: absolute;
width: 208px;
cursor: pointer;
}
.posts{
    width: 100%;
    position: absolute;
    top: calc(664px - 595px);    height: 295px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 1fr;
    column-gap: calc(100% * 2 * ((586 - 148 - 418 )) / 1152);;


}
.post1{
position: absolute;
    display: grid;
    grid-area: 1/1/2/2;
    width: calc( 100% * 2 * 418 / 1152);
height: 295px;
background-color:#FFFFFF;
border-radius: 4px;
box-shadow: 0px 4px 10px 0px #BBE1FA40;
left: calc(100% * 2 * (148 + (586 - 148 - 418 )) / 1152);
}
.post2{
    position: absolute;
    flex-wrap: wrap;
    overflow: hidden;
    display: grid;
    grid-area: 1/2/2/3;
    width: calc( 100% * 2 * 418 / 1152);
height: 295px;
border-radius: 4px;
background-color:#FFFFFF;
}
.title1{
    position: absolute;
    top: calc(688px - 664px);
    width: calc(100% * 2 * 374 / 1152);
    overflow: hidden;
white-space: initial;
text-overflow: ellipsis;
height: 85px;
left:calc(171px - 148px) ;
font-family: Heebo;
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
}
.date1{
    position: absolute;
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
    width:89% ;
height: 34px;
top:calc(790px - 664px);
left:calc(171px - 148px) ;
font-family: Heebo;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
}
.s1{
    position: absolute;

    height: 21px;
    left: calc(301px - 148px - 171px + 148px);
    border: 1px solid #000000;
    color: #000000;
    background-color: #000000;
    }
.date1 div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30%;
height: 34px;
left:calc(327px - 171px);
font-family: Heebo;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
display: inline-block;
position: absolute;



}
.description1{
    position: absolute;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    width: calc(100% * 368 / 418 );
height: 117px;
top: calc(835px - 664px);
    left: calc(171px - 148px);
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #21243D;


}
.title2{
    top: calc(688px - 664px);
    position: absolute;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    width: calc(100% * 2 * 374 / 1152);
height: 85px;
left: calc(609px - 586px);
font-family: Heebo;
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
}
.date2{
    width:89% ;
height: 34px;
top:calc(790px - 664px);
left: calc(609px - 586px);
font-family: Heebo;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #21243D;
position: absolute;
overflow: hidden;
white-space: initial;
text-overflow: ellipsis;

}
.date2 div{
    display: inline-block;
    width: 30%;
height: 34px;
left: calc(765px - 586px);
font-family: Heebo;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
position: absolute;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.s2{
    height: 21px;
    left: calc(740px - 586px);
    position: absolute;

border: 1px solid #000000;
background: #000000;

}
.description2{
    width: calc(100% * 368 / 418 );
height: 117px;
top: calc(835px - 664px);
left:  calc(609px - 586px);
font-family: Heebo;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
position: absolute;
overflow: hidden;
white-space: initial;
text-overflow: ellipsis;
color: #21243D;
}
.sec{
    position: absolute;
}
.title3{
    width: 153px;
height: 60px;
top: 1006px;
left: 148px;
font-family: Heebo;
font-size: 22px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
position: absolute;
color: #21243D;
}
.work1,.work2,.work3{
    width: 100%;
    position: absolute;
    top: 0px;
}

.pic1{
    width: calc( 100% * 246 / 1152); 
height: 180px;
top: 1088px;
left: calc(100% * 146 / 1152);
border-radius: 6px;
position: absolute;
}
.pic2{
    width: calc( 100% * 246 / 1152); 
height: 180px;
top: 1314px;
left: calc(100% * 146 / 1152);
border-radius: 6px;

position: absolute;
}
.pic3{
    width: calc( 100% * 246 / 1152); 
height: 180px;
top: 1560px;
left: calc(100% * 146 / 1152);
border-radius: 6px;

position: absolute;
}
.titlee1{
    width: calc( 100% * 556 / 1152);
height: 44px;
top: 1077px;
left: calc(100% * 410 / 1152);
font-family: Heebo;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0px;
text-align: left;
position: absolute;
color: #21243D;
}
.titlee2{
    width: calc( 100% * 556 / 1152);
height: 44px;
top: 1312px;
left: calc(100% * 410 / 1152);
font-family: Heebo;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0px;
text-align: left;
position: absolute;
color: #21243D;
}
.titlee3{
    width: calc( 100% * 556 / 1152);
    height: 44px;
top: 1560px;
left: calc(100% * 410 / 1152);
font-family: Heebo;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0px;
text-align: left;
position: absolute;
color: #21243D;
}

.text{
    width: 42px;

height: 60px;
left:calc(100% * 150 / 1152) ;
position: absolute;
font-family: Heebo;
font-size: 18px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0px;
color:#FFFFFF;
text-align: center;
}
.year{
    width:62px;
height: 25px;
border-radius: 16px;
position: absolute;
background-color:#142850;
}


.one{
    top:-17px;

}
.two{
    top:-17px;

}
.three{
    top: -17px;

}
.category1{
    width: calc(100% * 374 / 1152);
height: 34px;
left: calc(100% * 498 / 1152);

position: absolute;
font-family: Heebo;
font-size: 20px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
color:#8695A4;
}
.category2{
    width: calc(100% * 374 / 1152);
height: 34px;
left: calc(100% * 498 / 1152);
position: absolute;
font-family: Heebo;
font-size: 20px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
color:#8695A4;
}
.category3{
    width: calc(100% * 374 / 1152);
height: 34px;
left: calc(100% * 498 / 1152);
position: absolute;
font-family: Heebo;
font-size: 20px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
color:#8695A4;
}
.datee1,.datee2,.datee3{
    position: absolute;
    width: 300px;
    left: calc(100% * 410 / 1152);
    display: flex;
    justify-content: start;
}
.datee1{
    top: 1137px;

}
.datee2{
top: 1368px;

}
.datee3{
    top: 1613px;

}

.content{
    position: absolute;
    left: calc(100% * 410 / 1152);

    height: 93px;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
    position: absolute;
    width: clac(100% * 594 / 1152);
overflow: hidden;
white-space: initial;
text-overflow: ellipsis;

}
.ONE{
    top: 1188px;

}
.TWO{
    top: 1419px;

}
.THREE{
    top: 1679px;

}
.hr1{
    width: 858.0000000000032px;
top: 1283px;
left: 146px;
transform: rotateY(-0deg);
position: absolute;
background-color: #E0E0E0;
border: 1px solid #E0E0E0;
}
.hr2{
    width: 858.0000000000032px;
top: 1529px;
left: 146px;
transform: rotateY(-0deg);
position: absolute;
background-color: #E0E0E0;
border: 1px solid #E0E0E0;
}
.hr3{
    width: 858.0000000000032px;
top: 1776px;
left: 146px;
position: absolute;
background-color: #E0E0E0;
border: 1px solid #E0E0E0;
}
footer{

    width: 100%;
height: 182px;
top: 1859px;
position: relative;


}
.fa-facebook{
    

position: absolute;
width: 30px;
height: 30px;
left: calc(100% * 459 / 1152);
top: calc(50% - 30px/2 - 25px);

/* Dark */
background: #21243D;
border-radius: 5px;
position: absolute;
color: white;
text-align:center;

}
.fa-instagram::before{
    color: #21243D;
    width: 30px;
    height: 30px;
 top: calc(-10%);
 font-size: 37px;
 display: block;
 position: absolute;
}
.fa-instagram{
    width: 30px;
height: 30px;

left: 45.49%;
right: 51.91%;
top: 28.02%;
bottom: 55.49%;
background: #21243D;

position: absolute;
background-color: white;
color: white;
text-align:center;
}
.fa-twitter{
    width: 30px;
height: 30px;
top: 51px;
left:calc(100% * 589 / 1152) ;
position: absolute;
color: #21243D;
text-align:center;
}
.fa-twitter:before {
    color: #21243D;
    width: 30px;
    height: 30px;
 top: calc(-10%);
 font-size: 37px;
 display: block;
 position: absolute;
}
.fa-linkedin{
    width: 30px;
height: 30px;
top: 51px;
left:calc(100% * 661 / 1152) ;
position: relative;
background-color: #21243D;
color: white;
text-align:center;
}
.fa-linkedin::before{

position: absolute;


left: 20%;
font-size: 20px;
top: 25%;

}

/* fb */

.fa-facebook::before{
    position: absolute;
    left: calc(28%);
    top: calc(12%);
    font-size: 26px;

}

.copy{
    width:calc(100% * 225 / 1152);
height: 21px;
top: 107px;

left:calc(100% * 464 / 1152);
position: absolute;
font-family: Heebo;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
color: #21243D;

}
@media (max-width: 767px) {
    .fa-facebook,.fa-instagram,.fa-linkedin,.fa-twitter,.fa-facebook::before,.fa-instagram::before,.fa-linkedin::before,.fa-twitter:before{
        position: static
            }
            .fa-linkedin{
                margin-left: 5px;
            }
            .contain{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
                top: 63px;
            }
    ul{
        display: none;
    }
    .menu-icon{
        display: inline-block;
    }
    
    .pic{
        width:180px ;
height:180px;
display: flex;
left: 50%;
position: static;

    }
    .wrap{
        top:83px ;
        height: 180px;
        display: flex;
        width: 100%;
        height: 180px;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        position: absolute;
    }
    nav{
        display: none;
    }
    .intro{
        width:100%;
        height:100%;
        top: 297px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        position: absolute;
    }
    h1,.p1,.b1{
        position: static;
        flex-shrink: 1;
    }
    .secc{
        position: absolute;
    }
    h1{
        position: absolute;
        width:calc(100% * 312 / 375);
        font-family: Heebo;
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
white-space: initial;
top: 0;
word-break: break-word;
    }
    .p1{
        width:calc(100% * 328/375) ;
        top: calc(438px - 272px);
text-align: center;        position: absolute;
left: calc(100% * 24 / 375);
    }
    br{
        display: none;
    }
    .b1{
        margin-top: 132px;

    }
    .sec1{
        top: 720px;
    }
    .header{
height: auto;
display: flex;
justify-content: center;
    }
    .header div{
        position: static;
    }
    .b2{
        display: none;
    }
    .posts{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(1,1fr);
        height: 647px;
    top: 60px;  

}
    .post2{
        grid-area: 2/1/3/2;
        width:calc(100% * 354 / 375) ;
        height: 306px;
        left: calc(100% * 11 / 375);
        border-radius: 4px;
    }
    .sec1{
        height: 700px;
    }
    .last-sec{
        top: 1420px;    }
    .post1{
        width:calc(100% * 354 / 375) ;
        height: 306px;
left: calc(100% * 11 / 375);
border-radius: 4px;

    }
    .title1{
        width:calc(100% * 327/375) ;
height: 90px;
font-family: Heebo;
font-size: 22px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
white-space: initial;
flex-wrap: nowrap;

    }
    .title2{
        width:calc(100% * 327/375) ;
height: 90px;
font-family: Heebo;
font-size: 22px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
white-space: initial;
flex-wrap: nowrap;
    }
    .title3{
        left: auto;
        width: 100%;
text-align: center;
top: 0;
}
.pic2,.pic3,.titlee2,.titlee3,.datee2,.datee3,.content,.hr2,.hr3{
display: none;
}
.ONE{
    display: block;
}
.pic1{
    width:calc(100% * 339 /375);
height: 230px;
border-radius: 6px;
top:calc(1378px - 1316px ) ;
left:calc(100% * 18 /375);
}
.titlee1{
    width:calc(100% * 244 / 375);
    height: 30px;
    top:calc(247px + 60px) ;
    text-align: center;
    left:calc(100% * 18 /375);
    font-family: Heebo;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

    }
    .datee1{
        top: calc(293px + 60px);
        left:calc(100% * 18 /375);

    }
    .ONE{
       top: calc(342px + 60px);
       left:calc(100% * 18 /375);
 
    }
    
    .main{
        height: 2155px;
    }
}
    